{% extends 'partials/_base.html' %}
{% load static  %}

{% block content %}

  <!-- trainer section -->

  <section class="trainer_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Gym Trainers
        </h2>
      </div>
      <style>
        .categories-tag-wrapper {
            display: flex;
            justify-content: space-between; /* veya istediğiniz hizalama yöntemini seçin */
        }
    
        /* İhtiyacınıza göre diğer özel stilleri buraya ekleyebilirsiniz */
    </style>
    
    <div class="categories-tag-wrapper">
        <div class="categories">
            <h3>Categories:</h3>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'trainer_by_category' category_slug=category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="tag">
            <h3>Tags:</h3>
            <ul>
                {% for tag in tags %}
                    <li><a href="{% url 'trainer_by_tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
      <div class="row">
        {% for trainer in trainers %}
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                <a href="{% url 'trainer_detail' trainer.category.slug trainer.id %}">{{ trainer.name }}</a>
              </h5>
            </div>
            <div class="img-box">
              <img src="{{ trainer.image.url }}" alt="{{ trainer.name }}">
            </div>
            <div class="description">
              <p>{{ trainer.description | truncatechars:50 }}</p> 
            </div>
            <div class="social_box">
              <a href="#">
                <img src="{% static 'images/facebook-logo.png' %}" alt="Facebook">
              </a>
              <a href="#">
                <img src="{% static 'images/twitter.png' %}" alt="Twitter">
              </a>
              <a href="#">
                <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram">
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <!-- end trainer section -->
  
  <!-- info section -->




{% endblock %}