{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
  <section class="trainer-detail-section layout_padding">
    <style>
      .trainer-detail-section .img-box {
        margin-bottom: 50px; 
      }
      
    </style>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="name">
            <h2>{{ trainer.name }}</h2>
          </div>
          <div class="trainer-box">
            <div class="img-box">
              <img src="{{ trainer.image.url }}" alt="{{ trainer.name }}">
            </div>
            
            <div class="description">
              <p>{{ trainer.description }}</p>
            </div>
            <div class="social_box" style="margin-top: 20px;">
              <a href="#" style="display: inline-block; margin: 0 10px;">
                <img src="{% static 'images/facebook-logo.png' %}" alt="Facebook">
              </a>
              <a href="#" style="display: inline-block; margin: 0 10px;">
                <img src="{% static 'images/twitter.png' %}" alt="Twitter">
              </a>
              <a href="#" style="display: inline-block; margin: 0 10px;">
                <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
